.products {
    padding-top: 40px;
    &__title{
        padding-bottom: 10px;
    }
}
.cardStyle {
    &__image {
        height: 340px;
    }
}
.cardStyle__body {
    &--title {
        font-size: 1.3rem;
        font-weight: bold;
    }
    &--text {
        padding-bottom: 0.5rem;
    }
}